In [128]:
import pandas as pd
import numpy as np
from datetime import datetime
import scipy
from scipy.stats import norm
from scipy.optimize import fsolve
from scipy import interpolate

Data
---------

In [59]:
# equity
tsla = pd.read_csv("TSLA.csv")
tsla.columns = ['Date','Price','IV']
tsla.index = tsla.Date.apply(pd.Timestamp)
tsla = tsla[['Price','IV']]
tsla = tsla.sort_index()

In [71]:
# market cap and debt
data = pd.read_csv("E_D.csv")
data.columns = ['Date','mkt_cap','debt_to_cap','debt']
data.index = data.Date.apply(pd.Timestamp)
data = data[['mkt_cap','debt']]
data = data.sort_index()

In [60]:
# tsla cds data
cds = pd.read_csv("tsla_cds.csv")
cds.columns = ['Date','cds_spd']
cds.index = cds.Date.apply(pd.Timestamp)
cds = cds[['cds_spd']]
cds = cds.sort_index()

In [61]:
cmt = pd.read_csv("cmt.csv")
cmt.index = cmt.Date.apply(pd.Timestamp)
cmt = cmt.iloc[:,1:]
cmt = cmt.sort_index()

In [142]:
sw_curve = pd.read_csv("swap_fix_rate.csv")
sw_curve.index = sw_curve.Date.apply(pd.Timestamp)
sw_curve = sw_curve.iloc[:,1:]
sw_curve = sw_curve.sort_index()

Model Define
-----------

In [121]:
# def bs model for call option
def BScall(S, K, T, r, sigma):
    #S: spot price
    #K: strike price
    #T: time to maturity
    #r: interest rate
    #sigma: volatility of underlying asset
    
    d1 = (np.log(S / K) + (r + 0.5 * sigma ** 2) * T) / (sigma * np.sqrt(T))
    d2 = (np.log(S / K) + (r - 0.5 * sigma ** 2) * T) / (sigma * np.sqrt(T))
    
    call = (S *norm.cdf(d1) - K * np.exp(-r * T) * norm.cdf(d2))
    return call

# def survival prob by credit grades model
def Q(E,A,sig_a,t):
    xi = E/A
    lam = 0.3
    B = np.sqrt(sig_a**2*xi**2*t+lam**2)
    d = 1/(1-xi)*np.exp(lam**2)
    return norm.cdf(-B/2+np.log(d)/B) - d*norm.cdf(-B/2-np.log(d)/B)

Calculate A, A_sig via KVM model
-----------

In [85]:
# calculate A_value, A_sig via KMV model
df = cds.copy()
df['T'] = 5
df = df.join(data,on='Date',how='inner')
df = df.join(tsla.IV,on='Date',how='inner')
df = df.join(cmt['5 Yr'],on='Date',how='inner')

In [91]:
def KMV(x):
    tao = x[1]
    E = x[2]
    D = x[3]
    sig_e = x[4]/100
    rf = x[5]/100
    def func(x1):
        # x1[0]: asset value
        # x1[1]: asset vol
        call = BScall(x1[0],D,tao,rf,x1[1])
        d1 = (np.log(x1[0] / D) + (rf + 0.5 * x1[1] ** 2) * tao) / (x1[1] * np.sqrt(tao))
        return [call-E,x1[0]/E*norm.cdf(d1)*x1[1]-sig_e]
    return fsolve(func, [E+D,sig_e])

In [104]:
kmv_res = df.apply(KMV,axis=1,result_type = 'expand')
kmv_res.columns = ['A','A_sig']

In [111]:
kmv_res.head()

                       A     A_sig
Date
2019-11-22  73440.739653  0.307525
2019-11-25  74045.133454  0.299644
2019-11-26  72756.776648  0.274551
2019-11-27  73150.161217  0.272268
2019-11-29  72901.444000  0.288879

Calculate CDS spd via Credit Grades model
--------------

In [118]:
df2 = kmv_res.join(data.mkt_cap,on='Date',how='inner')

In [119]:
df2

                        A     A_sig      mkt_cap
Date
2019-11-22   73440.739653  0.307525   60028.7475
2019-11-25   74045.133454  0.299644   60623.5555
2019-11-26   72756.776648  0.274551   59286.1387
2019-11-27   73150.161217  0.272268   59713.3190
2019-11-29   72901.444000  0.288879   59469.9884
...                   ...       ...          ...
2020-11-16  401495.517784  0.540588  386828.8101
2020-11-17  433098.690083  0.627234  418602.4427
2020-11-18  475600.400342  0.689559  461286.4127
2020-11-19  487336.827792  0.742438  473258.3990
2020-11-20  478409.206330  0.694676  464101.6779

[250 rows x 3 columns]

In [148]:
def CreditGrades(x):
    A = x[0]
    E = x[2]
    sig_a = x[1]
    
    #
    tr = np.array([1/12,2/12,3/12,6/12,1,2,3,4,5])*4
    y_cmt = list(cmt.loc[x.name])
    y_swap = list(sw_curve.loc[x.name])
    yields = np.array(y_cmt[:5]+y_swap)/4
#     print(y_cmt)
#     print(y_swap)
#     print(yields*4)
#     print(len(tr))
    interp = interpolate.interp1d(tr, yields, bounds_error=False, fill_value=0,kind='linear')
    
    # calcualte cds spd
    q = 1
    count1 = 0
    count2 = 0
    for t in np.arange(0,5,0.25)+0.25:
        disf = 1/(1+float(interp(t*4))/100)**t
        q_new = Q(E,A,sig_a,t)
        print(q,q_new)
        count1 += disf*(q-q_new)
        q = q_new
        count2 += disf*q
    return count1/count2

In [149]:
df2.iloc[-20:,:].apply(CreditGrades,axis=1,result_type='expand')

ValueError: x and y arrays must be equal in length along interpolation axis.

In [136]:
cmt.loc[df2.iloc[:10,:].index]

,1 Mo,2 Mo,3 Mo,6 Mo,1 Yr,2 Yr,3 Yr,5 Yr,7 Yr,10 Yr,20 Yr,30 Yr
Date,,,,,,,,,,,,
2019-11-22,1.58,1.59,1.58,1.59,1.56,1.61,1.60,1.62,1.71,1.77,2.08,2.22
2019-11-25,1.60,1.60,1.61,1.61,1.58,1.61,1.60,1.62,1.71,1.76,2.07,2.21
2019-11-26,1.63,1.61,1.60,1.62,1.59,1.58,1.58,1.58,1.68,1.74,2.04,2.18
2019-11-27,1.65,1.60,1.62,1.63,1.60,1.63,1.61,1.63,1.71,1.77,2.06,2.19
2019-11-29,1.62,1.60,1.59,1.63,1.60,1.61,1.61,1.62,1.73,1.78,2.07,2.21
2019-12-02,1.60,1.58,1.60,1.62,1.60,1.61,1.63,1.65,1.77,1.83,2.15,2.28
2019-12-03,1.56,1.54,1.57,1.57,1.57,1.53,1.54,1.54,1.65,1.72,2.03,2.17
2019-12-04,1.59,1.54,1.55,1.56,1.56,1.58,1.58,1.60,1.71,1.77,2.08,2.22
2019-12-05,1.52,1.56,1.54,1.55,1.56,1.58,1.60,1.62,1.73,1.80,2.11,2.24
2019-12-06,1.52,1.55,1.53,1.56,1.57,1.61,1.64,1.67,1.78,1.84,2.14,2.29